body {
    background-color: #212d3e;
    font-family: 'Nunito', sans-serif;
    color: #dfc0a2;
    text-align: center;
}

/* heading style */

h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
}

/* How to play button */

#H2P {
    background-color: #4d7792;
    color: #dfc0a2;
    font-size: 1.4rem;
}

.help {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 1px solid #4d7792;
    border-radius: 10px;
    background-color: #212d3e;
    z-index: 8;
    width: 600px;
    max-width: 80%;
  }
  
  .help.active {
    transform: translate(-50%, -50%) ;
    display: initial;
  }
  
  .close-button {
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    color: #dfc0a2;
  }
  
  .help-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

 /* Winner text area */

#result-text {
  background-color: #4d7792;
  font-size: 2rem;
  margin: 0 2rem;
  padding: 3rem;
}

/* game area */

.game-area {
    background-color: #4d7792;
    font-size: 2rem;
    margin: 2rem;
    padding: 3rem;
}

.game {
    transition: transform .3s; /* Animation */
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid;
    margin: 0 2rem;
}

.game:hover {
    border-color: green;
    transform: scale(1.5);
}

/* result area */

.results-area {
    background-color: #4d7792;
    color: #dfc0a2;
    margin: 2rem;
    font-size: 2rem;
}

.result {
    display: inline-block;
    margin: 0 4rem;
}