body {
    background-color: #212d3e;
    font-family: 'Nunito', sans-serif;
    color: #dfc0a2;
    text-align: center;
}

/* heading style */

h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
}

/* How to play button */

#H2P {
    background-color: #4d7792;
    color: #dfc0a2;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

/* How to play pop up  */

.help {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 1px solid #4d7792;
    border-radius: 10px;
    background-color: #212d3e;
    z-index: 8;
    width: 600px;
    max-width: 80%;
  }
  
  .help-body > a {
    display: none;
    font-size: 2rem;
    margin: 1%;
    padding: 5%;
    color: #dfc0a2;
  }
  
  .help.active {
    display: initial;
  }
  
  .close-button {
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    color: #dfc0a2;
    cursor: pointer;
  }
  
  .help-body {
    padding: 10px 15px;
  }

  #overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

/* game area */

.game-area {
    background-color: #4d7792;
    font-size: 2rem;
    margin: 1rem 2rem;
    padding: 3rem;
}

.game {
    transition: transform .3s;
    height: 150px;
    width: 150px;
    font-size: 6rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: scale-down;
    border: 5px solid;
    margin: 2rem;
    color: #212d3e;
}

.game:hover {
    border-color: green;
    transform: scale(1.5);
    cursor: pointer;
}

/* result area */

.results-area {
    background-color: #4d7792;
    color: #dfc0a2;
    margin: 1rem 2rem;
    font-size: 2rem;
}

.result {
    display: inline-block;
    margin: 0 4rem;
}

/* game winner/loser area */

#result-text {
  background-color: #4d7792;
  margin: 0 2rem;
  text-transform: capitalize;
  display: flex;
  display: none;
}

#result-text h3 {
  font-size: 2rem;
  margin: 0;
}

#result-text > div {
  flex: 1;
}

.choice {
  font-size: 10rem;
}

#desision {
  margin: 20% 0 0 0;
}

h2 {
  font-size: 3rem;
}

#play-again {
  background-color: #212d3e;
  color: #dfc0a2;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin: 10% 0;
}

 /* media queries */
 @media screen and (max-width: 740px) {
  iframe {
    display: none;
  }
  .help-body > a {
    display: block;
  }
 }
 @media screen and (max-width: 650px) {
  #result-text {
    flex-direction: column;
   }
 }
 @media  screen and (max-width: 510px) {
   h1 {
     font-size: 2rem;
   }

   .game i {
     font-size: 4rem;
     transform: translate(0%, -30%);
   }

   div {
     font-size: 1rem;
   }

   .help {
     top: 40%;
   }

   .game-area {
     padding: 0;
   }

   .game {
     height: 100px;
     width: 100px;
     margin: 0.2rem;
   }
 }